body {
    margin: 0;
    background-color: #1E1E1E;
}

p, a, span {
    background-color: transparent;
}

header {
    border-bottom: 2px solid #BE952B;
}

header * {
    padding-left: 0;
    padding-right: 0;
}

.penci-top-bar {
    height: 40px;
    background: #3b2705;
    text-align: center;
}

.penci-top-bar .container {
    display: table;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.penci-headline {
    display: block;
}

div.penci-topbar-social {
    display: inline-block;
    float: none;
    z-index: 10;
    position: relative;
}

.penci-topbar-social>div {
    display: inline-block;
    vertical-align: top;
}

.penci-topbar-social a {
    float: left;
    display: inline-block;
    vertical-align: top;
    margin-left: 13px;
    font-size: 14px;
    color: #fff;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    line-height: 40px;
}


.headline-title {
    background-color: #d4ae47;
}

.headline-title {
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    font-size: 12px;
    color: #fff;
    background: #d4ae47;
    float: left;
    text-transform: uppercase;
    font-family: raleway,sans-serif;
    z-index: 10;
    position: relative;
    display: inline-block;
    display: none;
    font-weight: 700;
}

.inner-header {
    width: 100%;
    background-size: cover;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #fff;
}

.inner-header .container {
    padding: 20px 0;
    padding: 40px 0;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.header-slogan {
    margin: 17px 0 0;
    text-align: center;
    line-height: 1;
}

.header-slogan .header-slogan-text {
    margin: 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
    font-style: italic;
    color: #313131;
    display: inline-block;
    position: relative;
    font-family: 'pt serif',serif;
    padding: 0 15px;
    letter-spacing: 1px;
    vertical-align: top;
}



.header-slogan .header-slogan-text:before, .header-slogan .header-slogan-text:after {
    content: "";
    position: absolute;
    top: 50%;
    height: 1px;
    display: block;
    width: 60px;
    background: #313131;
    left: 100%;
}

.header-slogan .header-slogan-text:before {
    left: auto;
    right: 100%;
}

footer.footer-section {
    padding: 0;
    background: #3b2705;
    text-align: center;
    color: #999;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.footer-section .container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

div.footer-socials-section {
    padding: 30px 0 15px;
    border-bottom: 1px solid #4a4a4a;
    text-align: center;
    justify-content: center;
}

ul.footer-socials {
    list-style: none;
    display: inline-block;
    vertical-align: top;
}

ul.footer-socials li {
    float: none;
    display: inline-block;
    margin-right: 18px;
    margin-left: 18px;
    margin-bottom: 15px;
}

ul.footer-socials li a {
    color: #d4ae47;
    line-height: 36px;
    display: inline-block;
    vertical-align: top;
}

ul.footer-socials li a i, .fa-icon {
    width: 36px;
    height: 36px;
    line-height: 34px;
    display: inline-block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    background: 0 0;
    color: #999;
    border: 1px solid #999;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    font-size: 14px;
    vertical-align: top;
}


.footer-logo-copyright {
    padding: 40px 0 73px;
    text-align: center;
}

.footer-logo-copyright.footer-not-logo {
    padding: 20px 0 62px;
}

.footer-copyright * {
    font-size: 14px;
    color: #999;
    line-height: 1.4;
    font-style: italic;
}

.footer-section * {
    margin: 0;
    padding: 0;
    text-align: center;
}

.footer-section .go-to-top-parent {
    width: 100%;
    height: auto;
    display: block;
    position: absolute;
    left: 0;
    bottom: 17px;
    text-align: center;
    z-index: 10;
    margin: 0;
    padding: 0;
}

.footer-section .go-to-top-parent span {
    color: #999;
    font-size: 12px;
    font-weight: 700;
    font-family: raleway,sans-serif;
    text-transform: uppercase;
    line-height: 1;
    display: inline-block;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
}

span.go-to-top {
    font-size: 18px;
    z-index: 5;
    position: relative;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    color: #999;
    line-height: 1;
    margin-bottom: 6px;
}

.brasil-header {
    position: relative;
    width: 100%;
    height: 209px;
    min-width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    max-width: 300px;
    margin-left: 16px;
    width: 80%;
}

.bookmark {
    position: absolute;
    width: 60px;
    right: 0px;
    top: -8px;
    background: none;
    z-index: 99;
}

.bottom-correction {
    height: 209px;
}

.mapa-brasil {
    display: flex;
    gap: 8px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

.mapa-brasil p {
    font-size: 16px;
    font-family: 'Inter Variable', sans-serif;
    color: #fff;
    margin-top: 16px;
    text-align: center;
}

.mapa-estado-texto {
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
}

.img-home {
    margin: 32px auto 16px auto;
    width: 100%;
    border-radius: 32px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: -224px;
    margin-bottom: -209px;
    width: 100vw;
    background-color: transparent;
}

.link-externo, .link-externo:visited {
    color: #aaa;
    padding: 0 8px 0 8px;
    text-decoration: none;
}

h1.home {
    background-color: transparent;
    min-width: 300px;
    width: 100%;
    text-align: center;
    font-family: 'Inter Variable', sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 36px;
    color: white;
    margin-top: 16px;
    margin-bottom: 16px;
    font-stretch: expanded;
}

h2.home {
    background-color: transparent;
    min-width: 300px;
    width: 100%;
    text-align: center;
    font-family: 'Inter Variable', sans-serif;
    font-size: 26px;
    font-weight: 500;
    line-height: 36px;
    color: white;
    margin-top: 16px;
    margin-bottom: 16px;
    font-stretch: expanded;
}

main .receita {
    padding: 0;
}

.fadeIn {
    animation: 0.5s fadeIn forwards;
}

.fadeOut {
    animation: 0.5s fadeOut forwards;
}

.fadeIn2 {
    animation: 0.5s fadeIn2 forwards;
}

.fadeOut2 {
    animation: 0.5s fadeOut2 forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(40px, 0);
    }
    to {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translate(0px, 0px);
    }
    to {
        transform: translate(40px, 0);
        opacity: 0;
    }
}

.receita {
    position: relative;
    width: 100%;
    top: 0;
    display: flex;
    flex-Direction: column;
    align-items: center;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
}

.receita-header {
    position: relative;
    width: 100%;
    top: 0;
    height: 209px;
    min-width: 300px;
    border-bottom: 2px solid #BE952B;
    padding: 0;
}

.receita-prato {
    position: relative;
    min-width: 300px;
    width: 100%;
    height: 209px;
    object-fit: cover;
}

.receita-bookmark {
    position: absolute;
    width: 70px;
    right: 16px;
    top: -32px;
    background: none;
    display: none;
}

.receita-titulo {
    background: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25'%3e%3cellipse cx='50%25' cy='0%25' rx='50%25' ry='100%25' style='fill:%23232323'/%3e%3c/svg%3e") center top no-repeat;
    background-size: cover;
    width: 100%;
    height: 120px;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.receita-titulo.centro-oeste {
    background-color: #5F9139;
}

.receita-titulo.nordeste {
    background-color: #97AB43;
}

.receita-titulo.norte {
    background-color: #33753F;
}

.receita-titulo.sudeste {
    background-color: #C5BE25;
}

.receita-titulo.sul {
    background-color: #E3AB1B;
}

.receita-titulo h1 {
    background-color: transparent;
    min-width: 300px;
    width: 100%;
    text-align: center;
    font-family: "Abril Fatface", sans-serif;
    font-size: 32px;
}

.receita-titulo.centro-oeste h1 {
    color: #5F9139;
}

.receita-titulo.nordeste h1 {
    color: #97AB43;
}

.receita-titulo.norte h1 {
    color: #33753F;
}

.receita-titulo.sudeste h1 {
    color: #C5BE25;
}

.receita-titulo.sul h1 {
    color: #E3AB1B;
}

.receita-titulo h2 {
    background-color: transparent;
    min-width: 300px;
    width: 100%;
    text-align: center;
    font-family: "Cookie", cursive;
    color: #D8D2C6;
    font-size: 48px;
    margin-top: -12px;
}

.ingredientes {
    font-family: 'Inter Variable', sans-serif;
    width: 100%;
    min-height: 320px;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    padding: 24px 0px;
}

.ingredientes.centro-oeste {
    background-color: #5F9139;
}

.ingredientes.nordeste {
    background-color: #97AB43;
}

.ingredientes.norte {
    background-color: #33753F;
}

.ingredientes.sudeste {
    background-color: #C5BE25;
}

.ingredientes.sul {
    background-color: #E3AB1B;
}

.ingredientes h3 {
    background-color: transparent;
    font-family: "Abril Fatface", sans-serif;
    color: #242424;
    font-size: 24px;
}

.ingredientes p {
    font-family: 'Inter Variable', sans-serif;
    text-align: center;
}

.ingredientes img {
    background-color: transparent;
    width: 64px;
    margin: 24px 0;
}

.preparo-top {
    background: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25'%3e%3cellipse cx='50%25' cy='100%25' rx='50%25' ry='100%25' style='fill:%23232323'/%3e%3c/svg%3e") center top no-repeat;
    background-size: cover;
    width: 100%;
    height: 120px;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.preparo-top h3 {
    background-color: transparent;
    font-family: "Abril Fatface", sans-serif;
    color: #D8D2C6;
    font-size: 24px;
}

.preparo-top.centro-oeste {
    background-color: #5F9139;
}

.preparo-top.nordeste {
    background-color: #97AB43;
}

.preparo-top.norte {
    background-color: #33753F;
}

.preparo-top.sudeste {
    background-color: #C5BE25;
}

.preparo-top.sul {
    background-color: #E3AB1B;
}

.preparo-body-center {
    background-color: #232323;
    width: 100%;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    padding: 24px 0 0 0;
}

.preparo-body-center p {
    font-family: 'Inter Variable', sans-serif;
    margin: 4px 24px;
    color: #D8D2C6;
    text-align: center;
}

.preparo-body-left {
    background-color: #232323;
    width: 100%;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 8px;
}

.preparo-body-left p {
    margin: 4px 24px;
    font-family: 'Inter Variable', sans-serif;
    color: #D8D2C6;
    max-width: 480px;
    text-align: left;
}

.preparo-body-left p:nth-child(1) {
    background-color: transparent;
    font-family: "Abril Fatface", sans-serif;
    color: #D8D2C6;
    font-size: 92px;
    width: 50%;
    border-bottom: 1px solid #D8D2C6;
    text-align: left;
}

.preparo-body-right {
    background-color: #232323;
    width: 100%;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    gap: 8px;
}

.preparo-body-right p {
    margin: 4px 24px;
    font-family: 'Inter Variable', sans-serif;
    color: #D8D2C6;
    max-width: 480px;
    text-align: right;
}

.preparo-body-right p:nth-child(1) {
    background-color: transparent;
    font-family: "Abril Fatface", sans-serif;
    color: #D8D2C6;
    font-size: 92px;
    width: 50%;
    border-bottom: 1px solid #D8D2C6;
    text-align: right;
}

.preparo-bottom {
    background: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25'%3e%3cellipse cx='50%25' cy='0%25' rx='50%25' ry='100%25' style='fill:%23232323'/%3e%3c/svg%3e") center top no-repeat;
    background-size: cover;
    width: 100%;
    height: 120px;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.preparo-bottom.centro-oeste {
    background-color: #5F9139;
}

.preparo-bottom.nordeste {
    background-color: #97AB43;
}

.preparo-bottom.norte {
    background-color: #33753F;
}

.preparo-bottom.sul {
    background-color: #E3AB1B;
}

.preparo-bottom.sudeste {
    background-color: #C5BE25;
}

.harmonizacao {
    width: 100%;
    min-height: 300px;
    min-width: 300px;
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 48px 0;
}

.harmonizacao.centro-oeste {
    background-color: #5F9139;
}

.harmonizacao.nordeste {
    background-color: #97AB43;
}

.harmonizacao.norte {
    background-color: #33753F;
}

.harmonizacao.sudeste {
    background-color: #C5BE25;
}

.harmonizacao.sul {
    background-color: #E3AB1B;
}

.harmonizacao h3 {
    background-color: transparent;
    font-family: "Abril Fatface", sans-serif;
    color: #242424;
    font-size: 24px;
}

.harmonizacao img {
    background-color: transparent;
    width: 64px;
}

.vinho {
    background-color: transparent;
    text-align: center;
}

.vinho p, .vinho a {
    font-family: 'Inter Variable', sans-serif;
    font-size: 16px;
}